body {
  font-family: 'Montserrat' !important;
  padding-top: 22vh;
}

.title {
  font-family: 'Montserrat';
}

p {
  padding-bottom: 20px;
}

.alert-success {
  margin-top: 7px;
  background-color: transparent !important;
  box-shadow: 0 0 10px #77b300;
}

.navbar {
  background-image: url(../images/notifier-header.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 22vh;
}

.fa.fa-heart {
  color: red;
}

footer p {
  padding-top: 24px;
  text-align: center;
}
